/* App.css */

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #0F0; /* Green color for the digits */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'DIGITALDREAM';
  src: url(./Font/DIGITALDREAM.ttf) format('truetype');
}

.digital-watch {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'DIGITALDREAM';
  font-size: 4em;
  background-color: #000;
  color: #0f0;
  padding: 10px;
  /* border: 5px solid #333;
  border-radius: 10px; */
  display: inline-block;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); */
}

/* Styling the digits */
.digital-watch span {
  padding: 2px;
  display: inline-block;
  width: .8em;
  text-align: center;
  margin: 5px 5px 5px 5px;
  font-size: .6em;
}

/* Styling the blinking colon */
.digital-watch .colon {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.GameContainer {
  text-align: center;
}

.Title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

canvas {
  border: 2px solid #333;
  margin-top: 20px;
}

.WatchRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
}

.WatchColumn {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 2em 0em 2em;
}
