.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 250px;
  width: 250px;
  border: none;
  justify-content: center;
  position: absolute;
  bottom: 0;
}


